<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>webgl-point</title>
</head>
<body onload="main()">
  <canvas width="500" height="500" id="gl">
    Please use the browser supporting canvas!
  </canvas>
  <script src="../../../lib/webgl-utils.js"></script>
  <script src="../../../lib/webgl-debug.js"></script>
  <script src="../../../lib/cuon-utils.js"></script>
  <script>
    // 顶点着色器，名称固定
    // 声明attribute变量，只有顶点着色器可用
    const VSHADER_SOURCE = `
      attribute vec4 a_Position;
      void main () {
        gl_Position = a_Position;
      }
    `
    // 片元着色器， 名称固定
    const FSHADER_SOURCE = `
      void main () {
        gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
      }
    `
    function main () {
      const cvs = document.querySelector('#gl')
      const gl = getWebGLContext(cvs)

      if (!gl) {
        console.log('Failed get the WebGLRenderingContext')
        return
      }
      if (!initShaders(gl, VSHADER_SOURCE, FSHADER_SOURCE)) {
        console.log('Failed render shaders')
        return
      }

      // 设置顶点位置
      const n = initVertexBuffers(gl)
      if (n < 0) {
        console.log('Failed to set the position of the vertices')
        return
      }
      
      // 指定清空canvas的颜色 |rgba
      gl.clearColor(0.5, 0.5, 0.0, 1.0)
      // 清空canvas(COLOR_BUFFER_BIT | DEPTH_BUFFER_BIT | STENCIL_BUFFER_BIT)
      gl.clear(gl.COLOR_BUFFER_BIT)

      // 绘制一个点
      gl.drawArrays(gl.TRIANGLES, 0, n)
    }

    function initVertexBuffers(gl) {
      const vertices = new Float32Array([
        0.0, 0.5, -0.5, -0.5, 0.5, -0.5
      ])
      const n = 3
      // 创建缓冲区
      const vertexBuffer = gl.createBuffer()
      if (!vertexBuffer) {
        return -1
      }

      // 将缓冲区对象绑定到目标
      gl.bindBuffer(gl.ARRAY_BUFFER, vertexBuffer)
      // 像缓冲区对象写入数据
      gl.bufferData(gl.ARRAY_BUFFER, vertices, gl.STATIC_DRAW)
      
      const a_Position = gl.getAttribLocation(gl.program, 'a_Position')
      if (a_Position < 0) {
        console.log('Failed to get the storage loaction of a_Position')
        return
      }

      // 将缓冲区对象分配给a_Position变量
      gl.vertexAttribPointer(a_Position, 2, gl.FLOAT, false, 0, 0)

      // 连接a_Position变量和分配给他的缓冲区
      gl.enableVertexAttribArray(a_Position)
      
      return n
    }
  </script>
</body>
</html>